* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
	display: grid;
	grid-template-columns: 70% auto;
	grid-template-rows: auto auto
}

header {
	grid-column: span 2;
	text-align: center;
}

h1 {
    text-align: center;
    margin: 30px 0px;
}

p {
    margin: 0px 0px 25px 0px;
}

div {
	border: thin solid black;
	margin: 1em;
}

h2 {
	text-align: center;
    background-color: rgb(255, 255, 255);
    margin: 0px 0px 10px 0px;
}

#form {
    margin: 0px 5px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border: solid 2px black;
}

progress {
    width: 50px;
    height: 50px;
    transform: rotate(-90deg);
}

#slider {
    display: flex;
    align-items: center;
}

#orderBox {
    border: solid 2px black;
    margin: 0px 5px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

.inputExtras {
    margin: 0px 0px 0px 15px;
}

.inputContainer {
    margin: 0px 0px 0px 10px;
}