.div_container {
    margin: 0 auto;
    display: flex;
}

.div {
    height: 600px;
    width: 50%;
    border: solid 2px black;
    margin: 0px 20px;
    background-color: rgb(49, 207, 255);
}

#span {
    top: 0px;
    left: 0px;
    z-index: 1;
    position: fixed;
    pointer-events: none;
    background-color: bisque;
}

.values {
    margin: 0 auto;
    padding: 3px;
}

button {
    top: 25px;
    left: 25px;
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 15px;
    cursor: pointer;
}