.container {
    background-color: beige;
    text-align: center;
    display: grid;
    grid-template-rows: min-content min-content auto;
    height: 800px;
    border: thin solid black;
}

#mail {
    border-top: thin solid black;
    background-color: beige;
    position: relative;
    width: 100%;
    top: 0px;
    left: 0px;
}

span {
    font-size: 6em;
    position: absolute;
    border: thin dotted black;
}

.keyboard {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    user-select: none;
    background-color: rgb(70, 70, 70);
}

.keyboard__keys {
    text-align: center;
}

.keyboard__key {
    height: 30px;
    width: 6%;
    max-width: 60px;
    margin: 2px 0px;
    border-radius: 4px;
    border: none;
    background-color: rgb(124, 124, 124);
    color: white;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    position: relative;
}

.keyboard__key--wide {
    width: 10%;
}

.keyboard__key--extra-wide {
    width: 36%;
    max-width: 500px;
}

button:hover{
    background-color: rgb(29, 29, 29);
    transition: 0.2s;
}

.active {
    background-color: rgb(29, 29, 29);
    transition: 0.2s;

}